


.user-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  
}

.avatar-friend {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  margin-right: 10px;
}

.name-friend {
  font-weight: bold;
}

/* Page2.module.css */
.messages {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  height: 100vh; 
}

.inputarea {
  display: flex;
  padding: 10px;
  gap: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white; 
  width: 100vw  ;
  overflow-wrap: anywhere;
}

.messageinput {
  flex-grow: 1;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
 
}

.sendbutton {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  overflow-wrap: anywhere;
  
  
}

.sendbutton:hover {
  background-color: #0056b3;
  overflow-wrap: anywhere;
}